<div class="pokemon_profile">
  <img src="#" />
<<<<<<< HEAD
  <p><label>Name:</label> <%= user.name %></p>
  <p><label>Rank:</label><% if user.trainer.present? %> <%= user.rank %></p>
  <p><label>Catchphrase:</label> <%= user.catchphrase %></p>
  <p><%= link_to "See Profile", user_path(@users) %></p>
 
  <%end%>
=======
  <h2>Name:</h2>
  <p><%= user.name %></p>
  <label>Rank:</label>
  <p><%= user.rank %></p>
  <label>Catchphrase:</label>
  <p><%= user.catchphrase %></p>
>>>>>>> 64b8f3aa03bc0e27d0b53e36c7d790a177a480e4
</div>
