<div class="profile-">
  <img src="/assets/avatar.jpg" /><br>
  <%= link_to user.name, user_path(user) %><br>
  <% if user.catchphrase.present? %>
  <i>"<%=user.catchphrase%>"</i><br>
  <%end%>
  <label>Gym:</label>
  <%=link_to "#{user.gym.name}", gym_path(user.gym)%><br>
  <% if user.leader %>
    Leader of <%=user.gym.name%><br>
  <% else %>
    <label>Rank:</label>
    <%= user.trainer.rank %><br>
    <ul><label>Badges:</label>
    <% user.trainer.badges.each do |badge| %>
    <li><%= badge.name %> Badge</li>
    <% end %></ul>
  <% end %>
</div>
