<h1>Edit Trainer</h1>
<%=form_for @user do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :gym %> #to add dropdown
    <%= f.text_field :gym %>
  </p>

  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>

  <p>
    <%=f.label :catchphrase %>
    <%= f.text_field :catchphrase %>
  </p>
  <%= f.submit "Edit" %>
<% end %>
<%= button_to('Delete', user_path(@user), {method: 'delete'}) %>
