<h1>Trainer Registration</h1>
<%=form_for @user do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :gym %>
    <%= f.collection_select(:gym_id, Gym.all, :id, :name)%>
  </p>

  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>

  <p>
    <%=f.label :catchphrase %>
    <%= f.text_field :catchphrase %>
  </p>
  <%= f.submit %>
<% end %>
