<h1><%= @user.name %></h1>
<h3><%= label_tag :age %></h3>
<p><%= @user.age %></p>
<h3><%= label_tag :catchphrase %></h3>
<p><%= @user.catchphrase %></p>
<h3><%= label_tag :rank %></h3>
<p><%= @user.rank %></p>
<%= link_to  %>
<!-- <%= @user.gym %>  Need to add gyms-->
