<div class="pokemon_profile">
<%= render partial: "user_profile", object: @user, as: :user %>
  <%= render partial: "user_pokemons/user_pokemon_profile", collection: @user_pokemons, as: :user_pokemon %>
  <%= render partial: "user_links" %>
</div>

<%= flash[:message] %>
<% if session[:user_id] == @user.id %>
  <h3><%= label_tag "Your Pokemon" %></h3>
<% else %>
  <h3><%= label_tag "#{@user.name}'s Pokemon" %></h3>
<% end %>
<% @user.user_pokemons.each do |pokemon| %>
  <p><%= label_tag :nickname %>
  <%= pokemon.nickname %></p>
  <% if session[:user_id] != @user.id %>
    <%= link_to "Battle this Pokemon", battle_new_path(session[:user_id], pokemon) %>
    <%= link_to "Initiate trade request", trade_new_path(session[:user_id], pokemon) %>
  <% end %>
  <% if session[:user_id] == @user.id %>
    <%= link_to "Edit Nickname", edit_pokemons_path(session[:user_id], pokemon) %>
  <% end %>
  <p><%= label_tag :level %>
  <%= pokemon.level %></p>
<% end %>
<% if session[:user_id] == @user.id %>
  <h3><%= link_to "Add New Pokemon", new_pokemons_path(session[:user_id]) %></h3>
  <%= button_to('Log Out', session_path(@user), {method: 'delete'}) %>
<% end %>
  <% if @user.pending_trade_requests && @user == current_user %>
    <h2><%= link_to 'You have pending trade requests!', user_trade_requests_path(session[:user_id]) %></h2>
  <% end %>
<% if current_user_can_kick_out(@user) %>
  <%= link_to "Kick out", user_path(@user), method: :delete%>
<% end %>
