<h1><%= @gym.name %></h1>
<%= label_tag :leader %>
<%= @gym.find_leader.first.name %>
<h3>Trainers:</h3>

<h4>Top Tier</h4>
<% @gym.top_tier_users.each do |user| %>
  <h6><%= label_tag :name %>
  <%= link_to user.name, user_path(user) %></h6>
  <h6><%= label_tag :rank %>
  <%= user.rank %></h6>
  <% if current_user.leader.present? && current_user.gym_id == @gym.id%>
    <%= link_to "Kick out", user, method: :delete%>
  <% end %>
<% end %>
<h4>Mid Tier</h4>
<% @gym.mid_tier_users.each do |user| %>
  <h6><%= label_tag :name %>
  <%= link_to user.name, user_path(user) %></h6>
  <h6><%= label_tag :rank %>
  <%= user.rank %></h6>
  <% if current_user.leader.present? && current_user.gym_id == @gym.id%>
    <%= link_to "Kick out", user, method: :delete%>
  <% end %>
<% end %>
<h4>Low Tier</h4>
<% @gym.low_tier_users.each do |user| %>
  <h6><%= label_tag :name %>
  <%= link_to user.name, user_path(user) %></h6>
  <h6><%= label_tag :rank %>
  <%= user.trainer.rank %></h6>
  <% if current_user.leader.present? && current_user.gym_id == @gym.id %>
    <%= link_to "Kick out", user_path(user), method: :delete%>
  <% end %>
<% end %>
