<h1><%= @gym.name %></h1>
<%= label_tag :leader %>
<%= Leader.last.user.name %>
<h3>Trainers:</h3>

<h4>Top Tier</h4>
<% User.all.where('rank > 25').order('rank DESC').each do |user| %>
  <h6><%= label_tag :name %>
  <%= user.name %></h6>
  <h6><%= label_tag :rank %>
  <%= user.rank %></h6>
<% end %>
<h4>Mid Tier</h4>
<% User.all.where(:rank => 11..24).order('rank DESC').each do |user| %>
  <h6><%= label_tag :name %>
  <%= user.name %></h6>
  <h6><%= label_tag :rank %>
  <%= user.rank %></h6>
<% end %>
<h4>Low Tier</h4>
<% User.all.where('rank < 10').order('rank DESC').each do |user| %>
  <h6><%= label_tag :name %>
  <%= user.name %></h6>
  <h6><%= label_tag :rank %><
  <%= user.rank %></h6>
<% end %>
