<h1><%= @gym.name %></h1>
<%= label_tag :leader %>
<%= @gym.find_leader.first.name %>
<h3>Trainers:</h3>

<% @tiers.each do |name, method| %>
  <h4><%=name%> Tier</h4>
  <% @gym.send(method).each do |user| %>
    <h6><%= label_tag :name %>
    <%= link_to user.name, user_path(user) %></h6>
    <h6><%= label_tag :rank %>
    <%= user.trainer.rank %></h6>
    <% if current_user_leader_of(@gym)%>
      <%= link_to "Kick out", user, method: :delete%>
    <% end %>
  <% end %>
<% end %>
