
<h1> You requested to trade for <%= "#{@take.user.name}'s #{@take.pokemon.name}"%>!</h1>

<%= label_tag "Choose a Pokemon to exchange" %>
<% @possible_gives.each do |give| %>
<p><%= label_tag "Pokemon" %>
<%= give.nickname %></p>
<p><%= label_tag "Level" %>
<%= give.level %></p>
<p><%= link_to "Initiate trade request", trade_requests_create_path(session[:user_id], give, @take), method: :post %></p>
<% end %>
